## Settings file was created by plugin Stamina Regeneration from Food v1.5.5
## Plugin GUID: org.bepinex.plugins.foodstaminaregen

[1 - General]

## If on, only admins can change the configuration on a server.
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Config is locked = On

## If the mod is enabled.
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Enabled = On

## Can be used to multiply all base regeneration values configured below.
# Setting type: Single
# Default value: 1
Multiplier for all foods = 0.5

[2 - Food]

# Setting type: Single
# Default value: 0.48
Mountain Soup = 0

# Setting type: Single
# Default value: 0.42
Mountain Stew = 0

# Setting type: Single
# Default value: 0.09
Mushroom Jam = 0

# Setting type: Single
# Default value: 0.21
Mushroom Pie = 0

# Setting type: Single
# Default value: 0.27
Sauted Meat N Mushroom = 0

# Setting type: Single
# Default value: 0.36
custom_eitr_powerup = 0

# Setting type: Single
# Default value: 0.51
Black soup = 0.51

# Setting type: Single
# Default value: 2.25
Blood pudding = 2.25

# Setting type: Single
# Default value: 0.75
Blueberries = 0.75

# Setting type: Single
# Default value: 0.69
Boar jerky = 0.69

# Setting type: Single
# Default value: 2.1
Bread = 2.1

# Setting type: Single
# Default value: 0.96
Carrot = 0.96

# Setting type: Single
# Default value: 1.35
Carrot soup = 1.35

# Setting type: Single
# Default value: 1.2
Cloudberries = 1.2

# Setting type: Single
# Default value: 0.6
Cooked seeker meat = 0.6

# Setting type: Single
# Default value: 0.6
Cooked chicken meat = 0.6

# Setting type: Single
# Default value: 0.36
Cooked deer meat = 0.36

# Setting type: Single
# Default value: 0.36
Cooked egg = 0.36

# Setting type: Single
# Default value: 0.6
Cooked hare meat = 0.6

# Setting type: Single
# Default value: 0.48
Cooked lox meat = 0.48

# Setting type: Single
# Default value: 0.3
Cooked boar meat = 0.3

# Setting type: Single
# Default value: 0.45
Cooked wolf meat = 0.45

# Setting type: Single
# Default value: 0.45
Deer stew = 0.45

# Setting type: Single
# Default value: 1.95
Eyescream = 1.95

# Setting type: Single
# Default value: 2.7
Fish n bread = 2.7

# Setting type: Single
# Default value: 0.45
Cooked fish = 0.45

# Setting type: Single
# Default value: 0.69
Fish wraps = 0.69

# Setting type: Single
# Default value: 1.05
Honey = 1.05

# Setting type: Single
# Default value: 0.78
Honey glazed chicken = 0.78

# Setting type: Single
# Default value: 0.72
Lox meat pie = 0.72

# Setting type: Single
# Default value: 0.36
Stuffed mushroom = 0

# Setting type: Single
# Default value: 0.78
Meat platter = 0.78

# Setting type: Single
# Default value: 0.39
Minced Meat Sauce = 0.39

# Setting type: Single
# Default value: 0.84
Misthare supreme = 0.84

# Setting type: Single
# Default value: 0.45
Mushroom = 0.45

# Setting type: Single
# Default value: 0.6
Blue mushroom = 0.6

# Setting type: Single
# Default value: 0.75
Jotun puffs = 0.75

# Setting type: Single
# Default value: 0.75
Magecap = 0

# Setting type: Single
# Default value: 2.55
Mushroom omelette = 2.55

# Setting type: Single
# Default value: 0.9
Yellow mushroom = 0.9

# Setting type: Single
# Default value: 0.24
Grilled neck tail = 0.24

# Setting type: Single
# Default value: 1.2
Onion = 1.2

# Setting type: Single
# Default value: 1.8
Onion soup = 1.8

# Setting type: Single
# Default value: 1.2
Queens jam = 1.2

# Setting type: Single
# Default value: 0.6
Raspberries = 0.6

# Setting type: Single
# Default value: 0.45
Royal jelly = 0.45

# Setting type: Single
# Default value: 2.4
Salad = 2.4

# Setting type: Single
# Default value: 0.54
Sausages = 0.54

# Setting type: Single
# Default value: 0.42
Seeker aspic = 0

# Setting type: Single
# Default value: 0.69
Cooked serpent meat = 0.69

# Setting type: Single
# Default value: 0.78
Serpent stew = 0.78

# Setting type: Single
# Default value: 1.5
Muckshake = 1.5

# Setting type: Single
# Default value: 1.65
Turnip stew = 1.65

# Setting type: Single
# Default value: 0.9899999
Wolf jerky = 0.9899999

# Setting type: Single
# Default value: 0.63
Wolf skewer = 0.63

# Setting type: Single
# Default value: 0.39
Yggdrasil porridge = 0

# Setting type: Single
# Default value: 0.36
Eye of the Dwarf = 0.36

