## Settings file was created by plugin Advanced Portals v1.0.10
## Plugin GUID: randyknapp.mods.advancedportals

[Config Sync]

## [Server Only] The configuration is locked and may not be changed by clients once it has been synced from the server. Only valid for server config, will have no effect on clients.
# Setting type: Boolean
# Default value: false
Lock Config = true

[Portal 1 - Ancient]

## Enable the Ancient Portal
# Setting type: Boolean
# Default value: true
Ancient Portal Enabled = true

## The items needed to build the Ancient Portal. A comma separated list of ITEM:QUANTITY pairs separated by a colon.
# Setting type: String
# Default value: ElderBark:20,Iron:5,SurtlingCore:2
Ancient Portal Recipe = ElderBark:1000,WitheredBone:300,AncientSeed:100,SurtlingCore:20,TrophyBonemass:1

## A comma separated list of the item types allowed through the Ancient Portal
# Setting type: String
# Default value: Copper, CopperOre, CopperScrap, Tin, TinOre, Bronze
Ancient Portal Allowed Items = TinOre, CopperOre, IronScrap, IronOre, CopperScrap

## Allow all items through the Ancient Portal (overrides Allowed Items)
# Setting type: Boolean
# Default value: false
Ancient Portal Allow Everything = false

[Portal 2 - Obsidian]

## Enable the Obsidian Portal
# Setting type: Boolean
# Default value: true
Obsidian Portal Enabled = true

## The items needed to build the Obsidian Portal. A comma separated list of ITEM:QUANTITY pairs separated by a colon.
# Setting type: String
# Default value: Obsidian:20,Silver:5,SurtlingCore:2
Obsidian Portal Recipe = Obsidian:1000,Crystal:300,Guck:100,SurtlingCore:20,TrophyDragonQueen:1

## A comma separated list of the item types allowed through the Obsidian Portal
# Setting type: String
# Default value: Iron, IronScrap
Obsidian Portal Allowed Items = Tin, Copper, Iron, SilverOre, BlackMetalScrap, DragonEgg

## Allow all items through the Obsidian Portal (overrides Allowed Items)
# Setting type: Boolean
# Default value: false
Obsidian Portal Allow Everything = false

## Additionally allow all items from the Ancient Portal
# Setting type: Boolean
# Default value: true
Obsidian Portal Use All Previous = true

[Portal 3 - Black Marble]

## Enable the Black Marble Portal
# Setting type: Boolean
# Default value: true
Black Marble Portal Enabled = true

## The items needed to build the Black Marble Portal. A comma separated list of ITEM:QUANTITY pairs separated by a colon.
# Setting type: String
# Default value: BlackMarble:20,BlackMetal:5,Eitr:2
Black Marble Portal Recipe = BlackMarble:1000,Carapace:100,BlackMetal:300,SurtlingCore:20,TrophyGoblinKing:1

## A comma separated list of the item types allowed through the Black Marble Portal
# Setting type: String
# Default value: Silver, SilverOre
Black Marble Portal Allowed Items = Silver, BlackMetal, chest_hildir1, chest_hildir2, chest_hildir3

## Allow all items through the Black Marble Portal (overrides Allowed Items)
# Setting type: Boolean
# Default value: true
Black Marble Portal Allow Everything = false

## Additionally allow all items from the Obsidian and Ancient Portal
# Setting type: Boolean
# Default value: true
Black Marble Portal Use All Previous = true

